<!DOCTYPE html>
<html>
    <head>
        <title>Upload Example</title>
    </head>
    <body>
        <h1 id="title">welcome <%= name %></h1> <!-- 使用EJS标签显示变量值 -->

        <!-- 添加上传文件的表单 -->
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload File">
        </form>
        <input type="submit" onclick="logout()" value="logout">
        <a href = '/all_photo'><div>all_photo</div></a>
        <script>
            // console.log(localStorage.name);
            // document.getElementById('title').innerText = 'welcome ' + localStorage.name;
            function logout() {
                // 清理localStorage
                localStorage.removeItem('name');
                localStorage.removeItem('token');
                // 重定向到登出路由
                window.location.href = '/logout';
            }
            fetch('/show_all_photo')
            .then(res => res.json())
            .then(data=>{
                console.log(data)
                for (let i = 0 ; i < data.length; i++){
                    const id = document.createElement('h1');
                    id.innerText = data[i]['id'];
                    document.body.appendChild(id);
                    const title = document.createElement('h1');
                    title.innerText = data[i]['owner'];
                    document.body.appendChild(title);
                    const delete_button = document.createElement('button');
                    delete_button.innerText = 'delete';
                    document.body.appendChild(delete_button);
                    delete_button.addEventListener('click', async () => {
                        console.log(data[i]['id']);
                        fetch('/delete/' + data[i]['id'], {
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            method: 'DELETE', 
                        })
                        .then(res => {
                            if (res.status === 200){
                                window.location.reload();
                            }
                        })
                    })
                }
            })
        </script>
    </body>
</html>
